    /* index.html */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
.containter{
    margin: 0 auto;
    gap: 25px;
    background-image:url(./image/driving\ school\ background.jpg) ;
    background-repeat: no-repeat;
     background-size: cover;
     flex-direction:column ;
     height: 790px;
     width: 100%;

}
 .header{
    width: 10%;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
    padding-bottom: 20px; 
}
.logo img{
    width: 250px;
    height: 100px;
    border-radius: 100px;
    /* border: 2px solid red; */
}
nav{
  display: flex;
  gap: 95px;
  justify-content: flex-end;
    /* border: 2px solid red; */
}
nav ul{
    display: flex;
    gap: 150px;
}
nav ul li{
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    letter-spacing: 1px;
}
nav ul li a{
     padding: 15px; 
    outline: none;
    text-decoration:none ;
    color:orange;
    cursor: pointer;

}
nav ul li a:hover{
    color: red;
    border-bottom:2px solid blue;
    border-top:2px solid blue ;
}
.button{
    display: flex;
    flex-direction: row;
    gap: 75px;
}
.hero{
    display: grid;
    gap: 20px;
}
.drop-button{
    position: relative;
    display: inline-block;
    color: navy;
    background-color: white;
    font-size: xx-large;
    cursor: pointer;
}
.drop-content{
    display: none;
  position: absolute;
  background-color: gray;
  min-width: 16px;
  box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
  padding: 50px 40px;
  z-index: 2;
  font-size: 20px;
}
.drop-button:hover{
    color: black;
} 
.drop-down:hover .drop-content{
    display: block; 
    color: black;
}
#name{
    color: black;
}
.drop-course{
}
.drop-button1{
    text-align: center;
    justify-content: center;
    background-color: goldenrod;
    border: none;
    border-radius: 2px;
    width: 200px; 
    height: 40px;
    cursor: pointer;
}
/* input[type=text]:focus {
  border: 3px solid green;
} */
.hero-text {
    display: grid;
    color: gold;
    gap: 2px;

}
.hero-title{
    font-size: 30px;
    font-weight: 500;
    
}
.hero-meta{
    font-size: 50px;
    font-weight: 500;
}
.hero-meta span {
    color: green;
}
.hero-content{
    font-size: 25px;
    font-weight: 500;
}
.containter footer{
    padding: 40px 20px 20px; 
    margin-bottom: 40px;
    /* border: 1px solid red; */
    flex-direction: column;
}
.containter footer a{
    padding: 15px;
    outline: none;
    text-decoration:none ;
    color:navy ;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}
.containter footer a:hover{
    color: green;
    border-bottom:2px solid blue;
    border-top:2px solid blue ;
}


                        /* TYPE */
.type{
    display: flex;
    justify-content: center;
}
.car{
    display: grid;
    gap: 50px;
}
.car a{
    text-decoration: none;
    background-color: gold;
    border-radius: 30px;
    font-size: 50px;
    cursor: pointer;
    color: black;
    width: 1500px;
    border: 2px solid goldenrod;
    padding: 2px;
    text-align: center;
}
                        /* type-image */
.type-image{
display: flex;
}

.image{
    display: grid;
    max-width: 1200px;
    justify-content: space-between;
    gap: 50px;

}
.image img{
    height: 900px;
    width: 1200px;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}
                               /* service */
.service{
    max-width: 100%;
    background-color: aqua black green;
}
.type-course{
    text-align: center;
    text-decoration: none;
    color: brown;
}
.type-car{
    display: grid;
    gap: 50px;
    display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: baseline;
}
 h1{
    color: brown;
    font-size: xx-large;
    text-align: center;
}
.type-car img{
    width: 250px;
    height: 250px;
}
.car{
    justify-content: center;
    border: 2px solid ;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2); 
    padding: 20px 20px;
    text-align: center;
    font-size: xx-large;

}
